/**
 * Global Less variables and mixins.
 */

// Color theme
@color-brand: #0b2d53;
@color-highlight: #a01c20;
@color-header: #313131;
@color-headerlight: #464646;

// Font theme
@font-family-header: roboto;
@font-family-paragraph: segoe;
@text-size-large: 24px;
@text-size-sublarge: 22px;
@text-size-normal: 13px;
@default-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3);

.large-text-mixin{
  font-size: @text-size-sublarge;
  font-family: @font-family-header;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: .25px;
}

.page-header-text{
  font-size: @text-size-large;
  font-family: @font-family-header;
  font-weight: bold;
  text-transform: uppercase;
  color: @color-brand;
  letter-spacing: .25px;
  display: inline;
}

