@import "../common/global.less";

.icon {
  border-radius: 3px;  
  text-align: center;  
  background-color: @color-highlight;
}
.icon--text {
  color: #fff;
  letter-spacing: .25px;
  font-family: roboto;
  position: relative;
  text-transform: uppercase
} 


.icon__large{
  .icon();
  width: 40px;
  height: 40px;

  div{
    .icon--text();
    font-size: 21px;
    top: 4px;
  }
}

.icon__small{
  .icon();
  width: 30px;
  height: 30px;

  div{
    .icon--text();
    font-size: 15px;
    top: 5px;
  }
}